<div class="btn-group">
  <button type="button"
          class="btn"
          data-bs-toggle="button"
          (click)="addDecoration('bold')"
          id="bold">
    <i class="bi bi-type-bold"></i>
  </button>
  <button type="button"
          class="btn"
          data-bs-toggle="button"
          (click)="addDecoration('italic')"
          id="italic">
    <i class="bi bi-type-italic"></i>
  </button>
  <button type="button"
          class="btn"
          data-bs-toggle="button"
          (click)="addDecoration('underline')"
          id="underline">
    <i class="bi bi-type-underline"></i>
  </button>
  <button type="button"
          class="btn"
          data-bs-toggle="button"
          (click)="addDecoration('strikeThrough')"
          id="strikethrough">
    <i class="bi bi-type-strikethrough"></i>
  </button>
  <div class="vr"></div>
</div>
