<div class=" offcanvas offcanvas-start show" tabindex="-1" id="offcanvas"
     aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Note-Space</h5>
  </div>
  <hr>
  <div class="offcanvas-body">
    <ul class="sidebar-list">
      <li class="list-item">
        <a class="d-flex justify-content-between align-items-center">
          <div class="list-item-title">
            <i class="bi bi-stickies"></i>
            <span>All Notes</span>
          </div>
          <div class="list-item-helper">
            <span>3</span>
            <i class="bi bi-chevron-down"></i>
          </div>
        </a>
      </li>
      <li class="list-item">
        <a (click)="isCollapsed = !isCollapsed"
           class="d-flex justify-content-between align-items-center">
          <div class="list-item-title">
            <i class="bi bi-journals"></i>
            <span>Notebooks</span>
          </div>
          <div class="list-item-helper">
            <span>1</span>
            <i class="bi bi-chevron-down"></i>
          </div>
        </a>
      <p class="collapse" [ngbCollapse]="!isCollapsed" >
        list collapse
      </p>
      </li>
    </ul>
  </div>
</div>

<!-- Buttons trigger collapse -->
<!--<div class="container">-->

<!--  <h1>Angular 8 Bootstrap Collapse Example - ItSolutionStuff.com</h1>-->

<!--  <p>-->
<!--    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"-->
<!--            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">-->
<!--      Collapse Toggle-->
<!--    </button>-->
<!--  </p>-->
<!--  <div id="collapseExample" [ngbCollapse]="isCollapsed">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        You can collapse this card by clicking Toggle Button. This is example from ItSolutionStuff.com.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
