<div class=" offcanvas offcanvas-start show" tabindex="-1" id="offcanvas"
     aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Note-Space</h5>
  </div>
  <hr>
  <div class="offcanvas-body">
    <button class="new-btn btn btn-primary">
      <div>
        <i class="bi bi-plus-lg"></i>
        New
      </div>
      <i class="bi bi-chevron-down"></i>
    </button>
    <ul class="sidebar-list">
      <li class="list-item">
        <a class="d-flex justify-content-between align-items-center" [routerLink]="['/']">
          <div class="list-item-title">
            <i class="bi bi-house"></i>
            <span>Home</span>
          </div>
        </a>
      </li>
      <li class="list-item">
        <a [routerLink]="['all-notes']" [queryParams]="{allNotes: true}"
           class="d-flex justify-content-between align-items-center">
          <div class="list-item-title">
            <i class="bi bi-stickies"></i>
            <span>All Notes</span>
          </div>
        </a>
      </li>
      <li class="list-item">
        <a (click)="isCollapsed = !isCollapsed"
           class="d-flex justify-content-between align-items-center">
          <div class="list-item-title">
            <i class="bi bi-journals"></i>
            <span>Notebooks</span>
          </div>
          <div class="list-item-helper">
            <span>{{notebooks.length}}</span>
            <i class="bi bi-chevron-down"></i>
          </div>
        </a>
        <ul class="notebook-list collapse" [ngbCollapse]="!isCollapsed">
          <app-notebook-list-item *ngFor="let notebook of notebooks"
                                  [notebook]="notebook"></app-notebook-list-item>
        </ul>
      </li>
    </ul>
  </div>
</div>
