.header {
  background-color: var(--note-header-bg);
  padding: 10px;
}

.style-dropdown {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-text {
  width: 100px;
  padding: 0;
  margin: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

