.header {
  background-color: var(--note-header-bg);
  padding: 10px;
}

.style-dropdown {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-text {
  width: 100px;
  padding: 0;
  margin: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px !important;
  margin: 0 5px 0 5px;
}

.vr {
  margin: 0 5px 0 5px;
}

.color-input-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-input {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;

  button {
    padding: 0;
  }

  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
  }
}
