.container {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
  margin-bottom: 0;
}

.date {
  color: #b2b2b2;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
