/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
  padding: 0 !important;
  overflow-y: hidden;
}

:root {
  --dark-side-bar-bg: #212529;
  --dark-side-bar-secondary-bg: #292e33;
  --dark-side-bar-third-bg: #333a40;
  --dark-side-bar-color: #f1ffff;
  --dark-side-bar-secondary-color: #c0cccc;

  --note-list-bg: #f8f8f8;
  --note-list-item-hover: #dfdfdf;
  --note-list-border: #e6e6e6;
  --note-list-item-title-color: #616161;

  --note-header-bg: #f0f0f0;
}

.vr {
  margin: 0 5px 0 5px;
}

.style-select {
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  padding: 3px 8px 3px 8px;
  transition: .2s ease-in-out;
  max-width: 120px;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:focus {
    border: 1px solid black;
  }
}
